<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/landing.css}"/>
  <script type="text/javascript" th:src="@{/js/src/offer.js}"></script>

</head>

<body>
    <!-- <p th:text="|Hello, ${name}!|"/> -->
    <!-- <script src="script.js"></script> -->
    hi

  
</body>

</html>