<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- <meta charset="utf-8"> -->
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <title>TBD</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/landing.css}"/>
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Manrope&family=Nothing+You+Could+Do&display=swap" rel="stylesheet">

  <!-- <script type="text/javascript" th:src="@{/js/src/landing.js}"></script> -->

</head>

<body>
    hi


  
</body>

</html>