<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- <meta charset="utf-8"> -->
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <title>TBD</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/map.css}"/>
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Manrope&family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>

  <!-- <script type="text/javascript" th:src="@{/js/src/landing.js}"></script> -->

</head>

<body>

    <div class="map-nav">
        <a href="/" class="home-btn">&lt; RETURN HOME</a>
        <i class='bx bxs-map-pin'></i>
        <h1>CPP Campus Crime Map</h1> 
        <div class="choose-date">
            <input type="date" id="from-date" min="2020-06-29">
            to
            <input type="date" id="to-date" max="">
        </div>
        <div class="choose-time">
            <input type="time" id="from-time">
            to
            <input type="time" id="to-time">
        </div>
        
    </div>
    
    <div class="map-container" id="map"></div>

    
    
    

<!-- <script type="text/javascript" src="\crimes"></script> -->

<script>
    // initializing map with correct location
    var northWest = L.latLng(34.070613482323076, -117.8207302093506);
    var southEast = L.latLng(34.04547673206297, -117.82583713531496);
    bounds = L.latLngBounds(northWest, southEast);
    var map = L.map('map', {
        // maxBounds: bounds,
        // minZoom: 15
    }).setView([34.05803802437078, -117.82330428528701], 15);
    // console.log(map.getBounds()); // get bounds of map

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

    // find lat and long coords
    function onMapClick(e) {
      alert("You clicked the map at " + e.latlng);
    }
    map.on('click', onMapClick);

    // random colors for markers
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    
    // getting json data from mongodb 
    var req = new XMLHttpRequest();
    req.open('GET', 'http://localhost/crimes', false); // change from localhost to domain
    req.send(null); 
    if (req.status == 200) {
        let data = req.responseText;
        const obj = JSON.parse(data);
        var arr = [];
        // console.log(obj)
        for (let i = 0; i < obj.length; i++) {
            if (obj[i].caseNumber != "Case #" && obj[i].caseNumber != null && obj[i].caseNumber != '') {
                var checkIfBuilding = obj[i].location[0].includes("Building #");
                var checkIfParkingLot = obj[i].location[0].includes("Lot");
                var checkIfVillage = obj[i].location[0].includes("University Village"); // done
                var checkIfUniversityDrive = obj[i].location[0].includes("University Dr");
                var checkIfFarmStore = obj[i].location[0].includes("Farm Store"); // done
                var checkIfTrack = obj[i].location[0].includes("Track"); // done
                var checkIfIPoly = obj[i].location[0].includes("I Poly"); // done
                var checkIfBrew = obj[i].location[0].includes("Brew Works"); // done
                var checkIfBaseball = obj[i].location[0].includes("Baseball Field"); // done
                var checkIfSoccer = obj[i].location[0].includes("Soccer Field"); // done
                var checkIfSpadra = obj[i].location[0].includes("Spadra"); // done
                var checkIfEastCampus = obj[i].location[0].includes("East Campus"); 
                var checkIfCW = obj[i].location[0].includes("Campus Wide");
                // var checkIfDuckPond = obj[i].location[0].includes("Duck Pond");
                // var checkIfRedCross = obj[i].location[0].includes("Red Cross"); 
                var checkIfMontecito = obj[i].location[0].includes("Montecito"); // include with building #21
                var checkIfSCE = obj[i].location[0].includes("Sce");
                var checkIfQuad = obj[i].location[0].includes("Quad");
                
                if (obj[i].location.length > 1 ) {
                    var checkIf3530PomonaBlvd = obj[i].location[1].includes("3530 Pomona Blvd");
                    var checkIfMedicalCenter = obj[i].location[1].includes("1798 N Garey Ave");
                }
                // unchecked ones
                if (checkIfParkingLot == false && checkIfBuilding == false && checkIfVillage == false 
                && checkIfUniversityDrive == false && obj[i].location.length != 2 && checkIf3530PomonaBlvd == false 
                && checkIfTrack == false && checkIfFarmStore == false && checkIfIPoly == false 
                && checkIfBrew == false && checkIfBaseball == false && checkIfSoccer == false 
                && checkIfSpadra == false && checkIfEastCampus == false && checkIfCW == false
                && checkIfDuckPond == false && checkIfSCE == false) {
                    arr.push(obj[i].location);
                }
                
                // montecito
                // if (checkIfMontecito == true) {
                //     arr.push(obj[i].location)
                // }
                
                // parking lot

                var randomizeLoc1
                var randomizeLoc2;

                //farm store - 4102 S University Drive
                var farmStoreArr = [];
                if (checkIfFarmStore == true) {
                    randomizeLoc1 = (Math.random() * (-0.000009 - 0.000009) + 0.00009).toFixed(5);
                    randomizeLoc2 = (Math.random() * (-0.00019 - 0.00009) + 0.00009).toFixed(5);
                    var lat = parseFloat(34.048388) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.819143) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    farmStoreArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text)
                    // var marker = L.marker([lat, long]).addTo(map).bindPopup(text);
                }
                
                // spadra farm
                var spadraArr = [];
                if (checkIfSpadra == true) {
                    randomizeLoc1 = (Math.random() * (-0.0001 - 0.00002) + 0.00004).toFixed(5);
                    randomizeLoc2 = (Math.random() * (-0.001 - 0.0001) + 0.0001).toFixed(5);
                    var lat = parseFloat(34.037615) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.817001) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    spadraArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text)
                    // var marker = L.marker([lat, long]).addTo(map).bindPopup(text);
                }

                //baseball field
                var baseballArr = [];
                if (checkIfBaseball == true) {
                    randomizeLoc1 = (Math.random() * (-0.00019 - 0.00019) + 0.00009).toFixed(5);
                    randomizeLoc2 = (Math.random() * (-0.00019 - 0.00009) + 0.00009).toFixed(5);
                    var lat = parseFloat(34.053858) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.815936) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    baseballArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text);
                }

                //soccer field
                var soccerArr = [];
                if (checkIfSoccer == true) {
                    randomizeLoc1 = (Math.random() * (-0.00019 - 0.00019) + 0.00009).toFixed(5);
                    randomizeLoc2 = (Math.random() * (-0.00019 - 0.00009) + 0.00009).toFixed(5);
                    var lat = parseFloat(34.052454) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.818489) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    soccerArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text);
                }

                //brew works - 3650
                var brewArr = []
                if (checkIfBrew == true) {
                    randomizeLoc1 = (Math.random() * (-0.00009 - 0.00009) + 0.00009).toFixed(5)
                    randomizeLoc2 = (Math.random() * (-0.00019 - 0.00009) + 0.00009).toFixed(5);
                    var lat = parseFloat(34.04983557453759) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.81486162577269) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    brewArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text);
                }

                // ipoly
                var iPolyArr = [];
                if (checkIfIPoly == true) {
                    randomizeLoc1 = (Math.random() * (-0.000009 - 0.000009) + 0.00009).toFixed(5)
                    randomizeLoc2 = (Math.random() * (-0.00019 - 0.00009) + 0.00009).toFixed(5);
                    var lat = parseFloat(34.051121) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.819609) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    iPolyArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text);
                }

                // track
                var trackArr = [];
                if (checkIfTrack == true && checkIfBuilding == false) {
                    randomizeLoc1 = (Math.random() * (-0.000009 - 0.000009) + 0.00009).toFixed(5)
                    randomizeLoc2 = (Math.random() * (-0.00019 - 0.00009) + 0.00009).toFixed(5);
                    var lat = parseFloat(34.052181) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.817056) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    trackArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text)
                    // var marker = L.marker([lat, long]).addTo(map).bindPopup(text);
                }
                


                

                // all locations with building numbers
                // alert(checkBuilding);
                // if (checkIfBuilding == false) {
                //     arr.push(obj[i].location);
                // }

                
                

                // locations not already specified with only 2 elements
                // if (obj[i].location.length == 2 && checkIfParkingLot == false && checkIfBuilding == false && checkIfVillage == false) {
                //     arr.push(obj[i].location);
                // }

                // all university drive locations
                // if (checkIfUniversityDrive == true && checkIfParkingLot == false && checkIfBuilding == false && checkIfVillage == false) {
                //     arr.push(obj[i].location);
                // }

                // all university village 
                var villageArr = []
                if (checkIfVillage == true) {
                    randomizeLoc1 = (Math.random() * (-0.0009 - 0.002) + 0.0009).toFixed(5)
                    randomizeLoc2 = (Math.random() * (-0.002 - 0.0009) + 0.00009).toFixed(5);
                    var lat = parseFloat(34.04123077050695) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.80990661469652) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    villageArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text);
                    // console.log(obj[i].location);
                }
                
                //all 3530 pomona blvd locations
                var southCampusArr = []
                if (checkIf3530PomonaBlvd == true && checkIfBuilding == false) {
                    randomizeLoc1 = (Math.random() * (-0.0006 - 0.0008) + 0.0004).toFixed(5)
                    randomizeLoc2 = (Math.random() * (-0.001 - 0.001) + 0.0008).toFixed(5);
                    var lat = parseFloat(34.048171) + parseFloat(randomizeLoc1) - parseFloat(randomizeLoc2);
                    var long = parseFloat(-117.815035) + parseFloat(randomizeLoc1) + parseFloat(randomizeLoc2);
                    var text = obj[i].caseNumber + "<br><strong>Crime: </strong>" + obj[i].nature + "<br><strong>Occurred: </strong>" + obj[i].occurred + "<br><strong>Reported: </strong>" + obj[i].reported + " <br><strong>Location: </strong>" + obj[i].location[0] + " <br><br><strong>Disposition: </strong>" + obj[i].disposition;
                    southCampusArr[i] = L.marker([lat, long]).addTo(map).bindPopup(text);
                }
            }
            
            // for (let i = 0; i < arr.length; i++) {
            //     console.log(arr[i]);
            // }
            // alert(arr);
        }
        console.log(arr);
        // alert(obj[1].caseNumber); // test to see if it works
        var fields = Object.keys(obj);
        // alert(fields);

    }

    // var mydata = JSON.parse();
    // alert(mydata[0].caseNumber);
    
</script>
  
</body>

</html>